##########################################################################
#
#  This is the local.properties.sample file.
#  use this as a template to configure Your local installation
#  of OpenRide 
#
##########################################################################  
#
#
#
#
# directory with jee libs to be used during the build
# do not change unless You really know what You are doing
#
jee.lib.basedir=build.headless.support/jee/libs.glassfish.3.0.2/
#
#
#
# the base path for the imprint jsp -- change this for your own imprint 
# to create a branded version of OpenRide
#
imprint.jsp.base=build.headless.support/branding/imprint/imprint.jsp
#
#
#
# the base path for the terms jsp -- change this for your own terms 
# to create a branded version of OpenRide
#
#
terms.jsp.base=build.headless.support/branding/terms/terms.jsp
#
# the base path for the contac jsp -- change this for your own terms 
# to create a branded version of OpenRide
#
#
contact.jsp.base=build.headless.support/branding/contact/contact.jsp
#
#
#
#
# uncomment this to build "joride" frontend (still under development)
build.joride=true
#
# uncomment this to build "joride-public" frontend (still under development)
build.joride-public=true
#
#
#
mailServiceJNDI=jorideMail
#
# 
# email of the person/entity that gets messages 
# concerning operational issues
# (mailfunction) 
#
webmasterEmailRecipient=jochen@localhost
#
#  email of the person/entity that gets messages
#  concerning business issues  (complaints etc...)
#  also recipient for webfrontend
#
#
businessEmailRecipient=jochen@localhost
#
#
# noreply email that is used as sender/replyTo address
# for messages that are not supposed to be replied
#
noreplyEmailRecipient=noreply@localhost
#
#
# URL where terms and conditions are to be found
# default setting points to a warning message.
#
termsURL=joride-public/faces/uninitialized.xhtml
#
# URL where imprint is to be found
# default setting points to a warning message.
#
imprintURL=/joride-public/faces/uninitialized.xhtml


